/*base.html*/

/*.base-background {
    background-color: #3D9970;
}
.container {
    background-color: #3D9970;
}*/
body {
    padding-bottom: 50px;    
    font-family: 'Lato', sans-serif;
    /*font-family: 'Bitter', serif;*/
    /*font-family: 'Cabin', sans-serif;*/
}
.homepage-background {
    background-image: url(/static/storesblur.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}
.profile-background {
    background-image: url(/static/brickwall.png);
    background-repeat: repeat;
}
.navbar-search {
    padding-top: 10px;
    margin-left: 100px;
}
.navbar-search .btn {
    background-color: white;
    border: 1px solid #ddd;
    color: #777;
}
.navbar-search .form-control {
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    color: #777;
}
.instagram {
    margin-left: 30px;
}
.instagram-placeholder {
    padding-top: 50px;
    display: inline-block;
}
/*homepage.html*/
.logo-text {
    font-family: 'Lobster', cursive;
}
.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.navbar-brand {
    font-size: 25px;
}
.home-container {
    color: #ddd;
}
.home-container .form-control {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #ddd;
}
.home-container label {
    font-size: 18px;
}
.home-container h1 {
    padding-top: 150px;
    margin-bottom: 25px;
    font-size: 100px;
    font-weight: bold;
    color: #ddd;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
}
.home-container .btn {
    margin-top: 25px;
    margin-bottom: 50px;
    background-color: rgba(255,255,255,.5);
    color: #ddd; 
}
.form-inline .homeform {
    padding-top: 25px;
}
/*results.html*/
.user-info {
    margin-right: 250px;
    margin-bottom: 50px;
    margin-left: 250px;
    background-color: #f8f8f8;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.3);
}
.user-info h3 {
    padding-bottom: 10px;
}
.titles > p {
    font-size: 16px;
}
.business-info {
    height: 950px;
    width: 50%;
    font-size: 14px;
    /*font-family: 'Cabin', sans-serif;*/
    font-family: 'Lato', sans-serif;
    /*font-family: 'Bitter', serif;*/
    overflow: auto;
}
.business-info a {
    font-size: 25px;
}
.each-result {
    margin-bottom: 25px;
    background-color: #f8f8f8;
    padding: 10px 15px;
    border-radius: 2px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.3);
    display: inline-block;
    width: 100%;
}
#map-results {
    height: 850px;
}
.map-container {
    height: 500px;
    width: 50%;
    overflow: none;
}
.map-container > p {
    font-size: 16px;
}
/*profile.html*/
.iconsize {
    height: 24px; 
    width: 24px;
}
.unselected{
    -webkit-filter: grayscale(100%); 
    opacity: 0.7; 
}
.cashicon {
    height: 30px; 
    width: 30px;

}
.selected {
    opacity: 1; 
    -webkit-filter: grayscale(0%);
}
#map-profile {
    height: 850px;
}
.icon-box {
    margin-top: 20px;
}