{% extends 'base.html' %}

{% block title %} Off The Chain-hompage {% endblock %}

{% block content %}

<h1>Off The Chain</h1>
    <!-- 
    text input for search keyword
    text input for location
    submit button
    background image
    --> 
    <h2>Support Small. Shop Local.</h2>
    <form id="search" method="GET" action="/searchresults">
        <label>I'm looking for:
            <input type="text" name="term">
        </label>
    
        <label>Location:
            <input type="text" name="location">
        </label>
            <input type="submit" value="Search">
            <br><br>
        <label>Show second-hand stores:
            <input type="radio" name="thrift" value="yes">Yes
            <input type="radio" name="thrift" value="no">No
        </label>
        

    </form>
    <br><br>
    <a class="twitter-timeline" href="https://twitter.com/ShopSmall" data-widget-id="601588777019015168">Tweets by @ShopSmall</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

{% endblock %}