{% extends 'base.html' %}

{% block title %} Off The Chain-hompage {% endblock %}

{% block body_class %} homepage-background {% endblock %}

{% block content %}

<section class="home-container">
    <div class="container-fluid body text-center">
        <h1 class="logo-text">Off The Chain</h1>
        <h2><i>Support Small. Shop Local.</i></h2>
        <form class="form-inline homeform" id="search" method="GET" action="/searchresults">
            <fieldset class="row">
                <div class="form-group text-right col-sm-6">
                    <label for="search-term">I'm looking for:</label>
                    <input class="form-control input-lg" id="search-term" name="term" type="text">
                </div>

                <div class="form-group text-left col-sm-6">
                    <label for="search-location">Location:</label>
                    <input class="form-control input-lg" id="search-location" name="location" type="text">
                </div>
            </fieldset>

            <fieldset class="row">
                <input class="btn btn-lg btn-default col-xs-4 col-xs-offset-4" type="submit" value="Search">
            </fieldset>
        </form>
    </div>
</section>


{% endblock %}