{% extends 'base.html' %}

{% block head %}

<title>{{ user.username }}'s Profile</title>

<style>
        html, body {width: 100%; height: 100%}
        body {margin: 0; padding: 0; overflow:hidden;}
        #map, #map-container {height: 600px; margin: 0px;}
        #map-container {padding-top: 50px;}
        .iconsize {height: 24px; width: 24px;}
        .unselected{-webkit-filter: grayscale(100%); opacity: 0.7; }
        #cashicon {height: 30px; width: 30px;}
        .selected {opacity: 1; -webkit-filter: grayscale(0%);}
</style>

    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

<script>

 function initialize() {

        var map = new google.maps.Map(document.getElementById('map'), mapOptions)

        var mapOptions = {
              zoom: 12,
              center: new google.maps.LatLng({{ businesses[0].latitude }}, {{ businesses[0].longitude }})
            };

        map = new google.maps.Map(
            document.getElementById('map'),
            mapOptions);

        console.log('hello'); //debugging
     
        {% for business in businesses %}

            var myLatLng = new google.maps.LatLng({{ business.latitude }}, {{ business.longitude }});
            
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map
                // title: {{ business.name }} GOT AN ERROR FOR BI-RITE
             });

        {% endfor %}
        
    };

    google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}


{% block content %}
<div class="container-fluid"> 
    <div class="row">
      <div class="col-md-6">    
        <div class="userinfo">
            <a href="/savedinfo">check database</a>
            <h3><b>{{ user.username }}</b></h3>
            <p>You live in: {{ user.city }}, {{ user.state }}</p>
            <p>Email: {{ user.email }}</p>
        </div>
        <br><br>
        <div>
            <h4><u>Your Saved Businesses:</u></h4>
            {% for business in businesses %}
                <div class="business" id="{{ business.business_id }}">

                    <p class="icons"><b>{{ business.name }}</b>
                        <!-- if the img id exists in database, class="selected icon" -->
                        <img class="goodfood unselected iconsize" src="/static/goodfood.png" title="Good Food" data-attr="goodfood"/>
                        <img class="clean unselected iconsize" src="/static/clean.png" title="Clean" data-attr="clean"/>
                        <img class="ecofriendly unselected iconsize" src="/static/ecofriendly.png" title="Eco-friendly" data-attr="ecofriendly"/>
                        <img class="friendly unselected iconsize" src="/static/friendly.png" title="Friendly Service" data-attr="friendly"/>
                        <img class="wifi unselected iconsize" src="/static/wifi.png" title="Has Wi-fi" data-attr="wifi"/>
                        <img class="cashicon unselected iconsize" src="/static/cashonly.png" title="Cash Only" data-attr="cashonly"/></p>
                    <ul>
                        <li>Address: {{ business.address }} {{ business.city }}, {{ business.state}} {{ business.zipcode }}</li>

                    {% if business.phone %}
                        <li>Phone number: {{ business.phone }}</li>
                    {% else %}
                        <li>Phone number: N/A</li>
                    {% endif %}
                            
                    {% if business.cross_streets %}
                        <li>Cross streets: {{ business.cross_streets }}</li>
                    {% else %}
                        <li>Cross streets: N/A</li>
                    {% endif %}
                      
                    </ul>
                </div>      
            {% endfor %}
        </div>


      </div> <!-- closes left column with userinfo and businesses -->

      <div class="col-md-6">
        <div id="map-container">
            <div id="map"></div>
        </div>
      </div>
    </div> <!-- closes row -->
</div>

<script>
// when you click on an image that is unselected, fill opacity!
$('.icons').on("click", ".unselected", function(evt) {
        $(this).addClass('selected').removeClass('unselected');
        
        // take the attribute name and business id for where the click was
        var businessId = $(this).closest(".business").attr("id");
        var attrName = $(this).data('attr');
        
        // send the variables to the route '/saveattr' (will save to db in route)
        $.post('/saveattr', {"attrName": attrName,
                             "businessId": businessId});
   // when you click on an image that is selected, lower opacity
}).on("click", ".selected", function(evt) {
    console.log('click selected');
        $(this).addClass('unselected').removeClass('selected');
        
        // take the attribute name and business id for where the click was
        var businessId = $(this).closest(".business").attr("id");
        var attrName = $(this).data("attr");

        // send the variables to the route '/saveattr' (to remove from db)
        $.post('/deleteattr', {"attrName": attrName,
                               "businessId": businessId});
});


</script>
{% endblock %}