{% extends 'base.html' %}

{% block title %} Inform Yourself {% endblock %}

{% block content %}
<h1>Buy Local, Here's why:</h1>
    <ul>
        <li>
            Sustainable Connections: </li>
            <a href="https://sustainableconnections.org/thinklocal/why">"Why Buy Locally Owned?"</a>
        <li>
            Institute for Local Self-Reliance: </li>
            <a href="http://www.ilsr.org/why-support-locally-owned-businesses/#">"Top 10 Reasons to Support Locally Owned Businesses"</a>
        
        <li>Forbes: </li>
        <a href="http://www.forbes.com/sites/nicoleleinbachreyhle/2014/09/02/why-you-need-to-support-small-businesses/">"Why You Need to Support Small Business"</a>
    <ul>
{% endblock %}
<!--
<a href="http://www.ilsr.org/"> </a>


-->