{% extends 'base.html' %}

{% block title %} Inform Yourself {% endblock %}

{% block content %}
<h1>Buy Local, Here's why:</h1>
    <ul>
        <li>Sustainable Connections: "Why Buy Locally Owned?"</li>
            <br><a href="https://sustainableconnections.org/thinklocal/why"></a>
        <li><a href="http://www.ilsr.org/">Institute for Local Self-Reliance</a>: "Top 10 Reasons to Support Locally Owned Businesses</li>
            <br><a href="http://www.ilsr.org/why-support-locally-owned-businesses/#"></a>
    <ul>
{% endblock %}